{
  "root": true, // Don't traverse ancestor directories looking for .eslintrc[.*] files to merge.
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "curly": 0,
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": 0,
    "consistent-return": 0,
    "eqeqeq": [2, "allow-null"],
    "indent": ["warn",2, { "SwitchCase": 1 }],
    "key-spacing": 0,
    "no-cond-assign": ["error", "always"],
    "no-console": ["warn", { "allow": ["error"] }],
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-multi-spaces": 2,
    "no-obj-calls": 2,
    "no-template-curly-in-string": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-shadow": 0,
    "no-shadow-restricted-names": 0,
    "no-extend-native": 0,
    "no-var": 2,
    "new-cap": 0,
    "quotes": 0,
    "react/jsx-equals-spacing": ["warn", "never"],
    "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": true }],
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": [
      "warn",
      {
        "allowAllCaps": true,
        "ignore": [],
      },
    ],
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-danger-with-children": "warn",
    "react/no-deprecated": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-is-mounted": "warn",
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "warn",
    "react/style-prop-object": "warn",
    "semi-spacing": 0,
    "space-unary-ops": 0,
    "space-infix-ops": 0,
    "strict": ["error", "global"]
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
